{{- $email := promptString "main email for Git on this computer" -}}
{{- $name := promptString "name for Git on this computer" -}}
{{- $gitSSHSigningKeyPath := promptString "path to git SSH signing pub key" -}}
{{- $workDotfilesRepoPath := promptString "path to work dotfiles repo" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

    workDotfilesRepoPath = {{ $workDotfilesRepoPath | quote }}
    gitSSHSigningKeyPath = {{ $gitSSHSigningKeyPath | quote }}
