# Setup fzf
# ---------
{{- if eq .chezmoi.os "darwin" }}
if [[ ! "$PATH" == */usr/local/opt/fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}/usr/local/opt/fzf/bin"
{{- else if (hasKey .chezmoi.osRelease "name") }}
{{- if eq .chezmoi.osRelease.name "Ubuntu" }}
if [[ ! "$PATH" == */home/jordan/.fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}/home/jordan/.fzf/bin"
{{- end }}
{{- end }}
fi

# Auto-completion
# ---------------
{{- if eq .chezmoi.os "darwin" }}
[[ $- == *i* ]] && source "/usr/local/opt/fzf/shell/completion.zsh" 2> /dev/null
{{- else if (hasKey .chezmoi.osRelease "name") }}
{{- if eq .chezmoi.osRelease.name "Ubuntu" }}
[[ $- == *i* ]] && source "/home/jordan/.fzf/shell/completion.zsh" 2> /dev/null
{{- end }}
{{- end }}

# Key bindings
# ------------
{{- if eq .chezmoi.os "darwin" }}
source /usr/local/opt/fzf/shell/key-bindings.zsh
{{- else if (hasKey .chezmoi.osRelease "name") }}
{{- if eq .chezmoi.osRelease.name "Ubuntu" }}
source /usr/share/doc/fzf/examples/key-bindings.zsh
source /usr/share/doc/fzf/examples/completion.zsh
{{- end }}
{{- end }}

# User config.

# Also include hidden files.
# https://github.com/junegunn/fzf#respecting-gitignore
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'

export FZF_DEFAULT_OPTIONS="--no-mouse --height 30% --layout=reverse --info=inline"
