# Setup fzf
# ---------
if [[ ! "$PATH" == *${HOME}/.fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}${HOME}/.fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "${HOME}/.fzf/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------
# 2023-11-03: Integrated with atuin instead of the plain history file.
# I haven't used any of the other fzf bindings either, so I'll live without them for a while.
# source "${HOME}/.fzf/shell/key-bindings.zsh"

# User config.

# Also include hidden files.
# https://github.com/junegunn/fzf#respecting-gitignore
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'

export FZF_DEFAULT_OPTIONS="--no-mouse --height 30% --layout=reverse --info=inline"
