[user]
  email = {{ .email | quote }}
  name = {{ .name | quote }}

[alias]
  st = status
  co = checkout
  br = branch

  # From @eripa.
  l = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an %C(auto)%G?>%Creset' --abbrev-commit --date=relative

[push]
  default = current

[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[core]
  editor = nvim

[rebase]
  autosquash = true
  autostash = true

[rerere]
  enabled = true

