[user]
  email = {{ .email | quote }}
  name = {{ .name | quote }}

[alias]
	st = status
	co = checkout
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative --graph
	br = branch

[push]
	default = current

[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[core]
  editor = vim

[rebase]
  autosquash = true

[rerere]
  enabled = true

{{- if ne .workdotfilesrepo "" }}
##################################### work #####################################
{{ include ".gitconfig_work" }}
##################################### work #####################################
{{ end -}}
