{{- if .enableWorkDotfiles -}}
#!/bin/bash

set -euo pipefail

{{ if not (eq .extraWorkDotfilesRepoPath "") }}

if [[ {{ .extraWorkDotfilesRepoPath }} == *.git ]]; then
    WORK_DOTFILES_DEST="${HOME}/dotfiles"

    if [[ ! -d $WORK_DOTFILES_DEST ]]; then
        git clone {{ .extraWorkDotfilesRepoPath }} $WORK_DOTFILES_DEST
    fi
else
    WORK_DOTFILES_DEST="{{ .extraWorkDotfilesRepoPath }}"
fi

if [[ -f $WORK_DOTFILES_DEST/.zshrc ]]; then
    echo "# From work dotfiles.\n" >> ~/.zshrc
    cat $WORK_DOTFILES_DEST/.zshrc >> ~/.zshrc
fi

if [[ -f $WORK_DOTFILES_DEST/.gitconfig ]]; then
    echo "# From work dotfiles.\n" >> ~/.gitconfig
    cat $WORK_DOTFILES_DEST/.gitconfig >> ~/.gitconfig
fi
{{- end }}

{{- if (hasKey .chezmoi.osRelease "name") }}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") }}
    sudo apt update
{{- end }}
{{- end }}

# Ensure kubectl.
if ! command -v kubectl >/dev/null; then
{{- if eq .chezmoi.os "darwin" }}
    brew install kubectl
{{- else if (hasKey .chezmoi.osRelease "name") }}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") }}
    sudo apt install -y kubectl
{{- end }}
{{- end }}
fi

# Ensure kubectx.
if ! command -v kubectx >/dev/null; then
{{- if eq .chezmoi.os "darwin" }}
    brew install kubectx
{{- else if (hasKey .chezmoi.osRelease "name") }}
{{- if (eq .chezmoi.osRelease.name "Ubuntu") }}
	sudo apt install -y kubectx
{{- end }}
{{- end }}
fi

# Ensure kind.
if ! command -v kind >/dev/null; then
{{- if eq .chezmoi.os "darwin" }}
    brew install kind
{{- end }}
fi

# Ensure AWS CLI.
if ! command -v aws >/dev/null; then
{{- if eq .chezmoi.os "darwin" }}
    brew install awscli
{{- end }}
fi

# Ensure Protobuf compiler.
if ! command -v protoc >/dev/null; then
{{- if eq .chezmoi.os "darwin" }}
    brew install protobuf
{{- end }}
fi

# Keep this at EOF.
{{- end }}
