{{- if not (eq .workdotfilesrepo "") -}}
#!/bin/bash

WORK_DOTFILES_DEST="${HOME}/dotfiles"

git clone {{ .workdotfilesrepo }} $WORK_DOTFILES_DEST

cat $WORK_DOTFILES_DEST/.zshrc > ~/.zshrc
cat $WORK_DOTFILES_DEST/.gitconfig > ~/.gitconfig
{{- end -}}
