{{- if not (eq .workdotfilesrepo "") -}}
#!/bin/bash

WORK_DOTFILES_DEST="${HOME}/dotfiles"

if [[ ! -d $WORK_DOTFILES_DEST ]]; then
  git clone {{ .workdotfilesrepo }} $WORK_DOTFILES_DEST
fi

cat $WORK_DOTFILES_DEST/.zshrc >> ~/.zshrc
cat $WORK_DOTFILES_DEST/.gitconfig >> ~/.gitconfig
{{- end -}}
