window:
   dimensions:
     columns: 390
     lines: 90
font:
  size: 12.0
  normal:
    family: Inconsolata-dz for Powerline
    # Can't seem to find the 'Regular' style in my Mac OS installation of this
    # font, so I'll avoid the "not found" error by not specifying the style.
  bold:
    family: Inconsolata-dz for Powerline
    style: Bold
  italic:
    family: Inconsolata-dz for Powerline
    style: Italic
  bold_italic:
    family: Inconsolata-dz for Powerline
    style: Bold Italic

{{ if eq .chezmoi.os "darwin" -}}
key_bindings:
  # https://github.com/alacritty/alacritty/wiki/Keyboard-mappings#macos
  - { key: Comma,     mods: Command,      command:
      {program: "sh", args: ["-c","open ~/.config/alacritty/alacritty.yml"]}     }
  - { key: N,         mods: Command,      action: SpawnNewInstance       }
  - { key: Space,     mods: Alt,          chars: " "                     }
  - { key: Back, mods: Command, chars: "\x15" } # delete line
  - { key: Left,     mods: Alt,     chars: "\x1bb"                       } # one word left
  - { key: Right,    mods: Alt,     chars: "\x1bf"                       } # one word right
  - { key: Left,     mods: Command, chars: "\x1bOH",                     } # Home
  - { key: Right,    mods: Command, chars: "\x1bOF",                     } # End

  # https://github.com/alacritty/alacritty/issues/62#issuecomment-347552058
  - { key: Period, mods: Command, chars: "\x1b." } # "Alt + ." on Linux. Aka "insert-last-word" on zsh.

  # https://github.com/alacritty/alacritty/issues/34#issuecomment-906943129
  - { key: F11, action: ToggleFullscreen }
{{ end -}}
