{{- if eq .chezmoi.os "darwin" -}}
key_bindings:
  - { key: Right, mods: Alt, chars: "\x1BF" } # Move one word right.
  - { key: Left,  mods: Alt, chars: "\x1BB" } # Move one word left.
  - { key: Left, mods: Command, chars: "\x1bOH", mode: AppCursor } # Home.
  - { key: Right, mods: Command, chars: "\x1bOF", mode: AppCursor } # End.
  - { key: Back, mods: Super, chars: "\x15" } # Delete word/line.
  - { key: Period, mods: Alt, chars: "\e." } # "Alt + ." aka "meta + ." on Linux.
window:
   dimensions:
     columns: 240
     lines: 80
{{- end -}}
